<table id="table--transaction" class="table table-striped table-responsive-sm table-hover mb-0">
    <thead>
        <tr>
            <th>เครื่องชาร์จ</th>
            <th>หัวชาร์จ</th>
            <th>บัตร RFID</th>
            <th>เลขทะเบียน</th>
            <th>วัน/เวลา</th>
            <th>ระยะเวลา</th>
            <th>หน่วย (kWh)</th>
            <th>รหัสรายการ</th>
            <th>ค่าบริการ</th>
            <th>หมายเหตุ</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>