@{
    ViewBag.Title = "Transactions";
    ViewBag.pTitle = "Transactions";
    ViewBag.pageTitle = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="shadow p-3 rounded">
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label class="col-label" data-key="t-station">Station</label>
                            <select id="transaction-station" class="form-control">
                                <option value="0" data-key="t-all">All</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label class="col-label" data-key="t-charger">Charger</label>
                            <select id="transaction-chargepoint" class="form-control">
                                <option value="0" data-key="t-all">All</option>
                            </select>
                        </div>
                        <div class="col-sm-2 d-none">
                            <label class="col-label" data-key="t-rfid-card">RFID Card</label>
                            <label id="transaction-plateno" class="col-label color-all"></label>
                            <select id="transaction-chargetag" class="form-control">
                                <option value="0" data-key="t-all">All</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label class="col-label" data-key="t-start-date">Start Date</label>
                            <input id="inp--startdate" class="form-control" type="text">
                        </div>
                        <div class="col-sm-2">
                            <label class="col-label" data-key="t-end-date">End Date</label>
                            <input id="inp--enddate" class="form-control" type="text">
                        </div>
                        <div class="col-sm-4 align-self-end mt-4">
                            <button onclick="SearchTransaction()" class="ml-2 btn btn-primary">
                                <i class="fa-solid fa-search"></i> <span data-key="t-search">Search</span>
                            </button>
                            <a href="javascript:Print()" class="ml-1 btn">
                                <i class="ri-printer-line la-1-50x text-primary"></i>
                            </a>
                            <a href="javascript:CSVExport()" class="ml-1 btn">
                                <i class="ri-file-excel-line la-1-50x text-primary"></i>
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive mt-4">
                        <table id="table--transaction" class="table nowrap align-middle dataTable no-footer">
                            <thead>
                                <tr>
                                    <th data-key="t-charger">Charger</th>
                                    <th data-key="t-connector">Connector</th>
                                    @*<th data-key="t-card">Card</th>
                                    <th data-key="t-license-plate">License Plate</th>*@
                                    <th data-key="t-datetime">Date/Time</th>
                                    <th data-key="t-duration">Duration</th>
                                    <th data-key="t-energy">Energy (kWh)</th>
                                    <th data-key="t-transaction-id">Transaction ID</th>
                                    <th data-key="t-service-fee">Service Fee</th>
                                    <th data-key="t-remark">Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var tabletransaction
    $(document).ready(function () {
        var date = new Date(), y = date.getFullYear(), m = date.getMonth();
        var firstDay = new Date(y, m, 1);
        var lastDay = new Date(y, m + 1, 0);

        // Datepicker
        $("#inp--startdate").datepicker({
            format: "dd/mm/yyyy",
            language: "th",
            autoclose: true,
            todayHighlight: true
        });

        $("#inp--enddate").datepicker({
            format: "dd/mm/yyyy",
            language: "th",
            autoclose: true,
            todayHighlight: true
        });

        $('#inp--startdate').datepicker('setDate', firstDay);
        $('#inp--enddate').datepicker('setDate', lastDay);

        tabletransaction = $('#table--transaction').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": false,
            "orderMulti": false,
            "ordering": true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pageLength": 25,
            "destroy": true,
            "searching": false,
            "contentType": "application/json; charset=utf-8",
            "ajax": {
                url: '/Transactions/GetTransactionTable',
                type: "POST",
                data: function (d) {
                    return $.extend({}, d, {
                        "station": $('#transaction-station').val(),
                        "chargepoint": $('#transaction-chargepoint').val(),
                        "startdate": $('#inp--startdate').val(),
                        "enddate": $('#inp--enddate').val(),
                    });
                },
                complete: function (data) {
                }
            },
            columns: [
                { "data": 'chargerCode' },
                { "data": 'connectorNo' },
                { "data": 'startTagId' },
                { "data": 'plateNo' },
                { "data": 'startDateTime' },
                { "data": 'usedTime' },
                { "data": 'chargeSum' },
                { "data": 'transactionNo' },
                { "data": 'cost' },
                { "data": 'stopReason' }
            ],
            "columnDefs": [
                { "targets": 0, "orderable": true },
                { "targets": 1, "orderable": false },
                { "targets": 2, "visible": false }, // ซ่อน startTagId
                { "targets": 3, "visible": false }, // ซ่อน plateNo
                { "targets": 4, "orderable": true },
                { "targets": 5, "orderable": false },
                { "targets": 6, "orderable": false },
                { "targets": 7, "orderable": true },
                { "targets": 8, "orderable": false },
                {
                    "targets": 9, // stopReason
                    "render": function (data, type, row) {
                        let parts = [];

                        if (data) {
                            parts.push(`Reason: ${data}`);
                        }

                        if (row.startTagId) {
                            parts.push(`Card: ${row.startTagId}`);
                        }

                        if (row.plateNo) {
                            parts.push(`Plate: ${row.plateNo}`);
                        }

                        return parts.join(', ');
                    }
                }
            ],
            rowId: function (a) {
                return 'transactionid_' + a.companyId;
            },
            buttons: [
                {
                    extend: 'csv',
                    charset: 'UTF-8',
                    fieldSeparator: ',',
                    bom: true,
                    filename: 'transactioncsv',
                    title: 'TransactionCSV'
                }
            ]
        });

        GetStationSelect();
        GetChargePointSelect();
        //GetChargeTagSelect();
    });

    function SearchTransaction() {
        tabletransaction.ajax.reload();
    }
    function CSVExport() {
        tabletransaction.button('.buttons-csv').trigger();
    }
    function Print() {
        let a = document.createElement('a');
        var url = '/Transactions/Print?chargepoint=' + $('#transaction-chargepoint').val();
        url += "&chargetag=" + $('#transaction-chargetag').val();
        url += "&startdate=" + $('#inp--startdate').val();
        url += "&enddate=" + $('#inp--enddate').val();

        a.target = '_blank';
        a.href = url;
        a.click();
    }
    function GetChargePointSelect() {
        $.ajax({
            url: '/Transactions/GetChargePointSelect',
            type: "POST",
            success: function (data) {
                var obj = data.data;
                var options = '';

                $("#transaction-chargepoint").find('option').remove();
                options += '<option value="0">ทั้งหมด</option>';
                if (obj.length > 0) {
                    for (var i = 0; i < obj.length; i++) {
                        options += '<option value="' + obj[i].chargerId + '_' + obj[i].connectorId + '">' + obj[i].shortName + ' #' + obj[i].connectorId + '</option>';
                    }
                    $("#transaction-chargepoint").append(options);
                }
            }
        });
    }//
    function GetStationSelect() {
        $.ajax({
            url: '/Transactions/GetStationSelect',
            type: "POST",
            success: function (data) {
                var obj = data.data;
                var options = '';

                $("#transaction-station").find('option').remove();
                options += '<option value="0">ทั้งหมด</option>';
                if (obj.length > 0) {
                    for (var i = 0; i < obj.length; i++) {
                        options += '<option value="' + obj[i].id + '">' + obj[i].name + '</option>';
                    }
                    $("#transaction-station").append(options);
                }
            }
        });
    }
    function GetChargeTagSelect() {
        $.ajax({
            url: '/Transactions/GetChargeTagSelect',
            type: "POST",
            success: function (data) {
                var obj = data.data;
                var options = '';

                $("#transaction-chargetag").find('option').remove();
                options += '<option value="0">ทั้งหมด</option>';
                if (obj.length > 0) {
                    for (var i = 0; i < obj.length; i++) {
                        options += '<option value="' + obj[i].tagId + '">' + obj[i].tagId + '</option>';
                    }
                    $("#transaction-chargetag").append(options);
                }

                $("#transaction-chargetag").change();
            }
        });
    }
    $("#transaction-chargetag").change(function () {
        var chargetagid = $(this).val();
        $.ajax({
            url: '/Transactions/GetChargeTagPlateNo',
            type: "POST",
            data: { chargetagid: chargetagid },
            success: function (data) {
                if (data.data)
                    $('#transaction-plateno').html('[' + data.data.plateNo + ']');
                else
                    $('#transaction-plateno').html('');
            }
        });
    });
</script>

@section scripts{
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}