@using manager.Entities
@model TblStation

@{
    ViewBag.Title = "Stations";
    ViewBag.pTitle = "Holiday";
    ViewBag.pageTitle = "Stations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="shadow p-3 rounded">
                <div class="card-body">
                    <div class="form-group row ">
                        <div class="col-2"></div>
                        <div class="col-sm-1 align-self-end">
                            <label for="station-id" class="form-label" data-key="t-station">Station Code</label>
                        </div>
                        <div class="col-sm-2 align-self-end">
                            <input type="text" value="@Model.FCode" class="form-control" id="t-stationid" disabled>
                        </div>
                        <div class="col-sm-1 align-self-end">
                            <label for="station-name" class="form-label" data-key="t-stationname">Station Name</label>
                        </div>
                        <div class="col-sm-3 align-self-end">
                            <input type="text" value="@Model.FName" class="form-control" id="station-name" disabled>
                        </div>
                        <div class="col-sm-2 align-self-end float-end">
                            <a href="javascript:CreateHolidayModal();" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i><span class="align-middle" data-key="t-addholiday"> Add Holiday</span></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <div class="table-responsive mt-4">
                                <table id="table--holiday" class="table nowrap align-middle dataTable no-footer">
                                    <thead>
                                        <tr>
                                            <th width="20%" data-key="t-date">Date</th>
                                            <th width="40%" data-key="t-details">Details</th>
                                            <th width="10%" data-key="t-edit">Edit</th>
                                            <th width="10%" data-key="t-delete">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--begin::Modal-->
<div class="modal fade" id="holidaycreate-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" data-key="t-addholiday"> Add holiday</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="holidaycreate-date" class="form-label" data-key="t-date">Date:</label>
                        <input id="holidaycreate-date" class="form-control" type="text">
                    </div>
                    <div class="mb-3">
                        <label for="holidaycreate-name" class="form-label" data-key="t-details">Details:</label>
                        <input type="text" class="form-control" id="holidaycreate-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="CreateHolidayModalClick()" data-key="t-save">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-key="t-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="holidayedit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" data-key="t-updateholiday"> Update holiday</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group d-none">
                        <label for="holidayedit-id" class="form-label" data-key="t-code">Code:</label>
                        <input id="holidayedit-id" class="form-control" type="text" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="holidayedit-date" class="form-label" data-key="t-date">Date:</label>
                        <input id="holidayedit-date" class="form-control" type="text">
                    </div>
                    <div class="mb-3">
                        <label for="holidayedit-name" class="form-label" data-key="t-details">Details:</label>
                        <input type="text" class="form-control" id="holidayedit-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="EditHolidayModalClick()" data-key="t-save">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-key="t-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->
@section scripts{
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}
<script>
    var tableholiday
    $(document).ready(function () {
        $('#holidaycreate-modal').appendTo("body");
        $('#holidayedit-modal').appendTo("body");

        var d = new Date();
        var toDay = d.getDate() + '/' + (d.getMonth() + 1) + '/' + d.getFullYear();

        // Datepicker
        $("#holidaycreate-date").datepicker({
            format: "dd/mm/yyyy",
            language: "th",
            autoclose: true,
            todayHighlight: true
        });

        $("#holidayedit-date").datepicker({
            format: "dd/mm/yyyy",
            language: "th",
            autoclose: true,
            todayHighlight: false
        });

        $('#holidaycreate-date').datepicker('setDate', toDay);

        tableholiday = $('#table--holiday').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": false,
            "orderMulti": false,
            "ordering": true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pageLength": 25,
            "destroy": true,
            "searching": false,
            "contentType": "application/json; charset=utf-8",
            "ajax": {
                url: '/Stations/GetHolidayTable',
                type: "POST",
                data: function (d) {
                    return $.extend({}, d, {
                        "stationid": '@Model.FId',
                    });
                },
                complete: function (data) {
                }
            },
            columns: [
                { "data": 'day' },
                { "data": 'name' },
                { "data": 'actionEdit' },
                { "data": 'actionDelete' }
            ],
            rowId: function (a) {
                return 'holidayid_' + a.id;
            },
        });
    });
    function CreateHolidayModal() {
        $('#holidaycreate-modal').modal('show');
    }
    function CreateHolidayModalClick() {
        var fileData = new FormData();
        fileData.append('companyid', '@Model.FId');
        fileData.append('date', $('#holidaycreate-date').val());
        fileData.append('name', $('#holidaycreate-name').val());

        $.ajax({
            url: '/Stations/CreateHoliday',
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: fileData,
            success: function (data) {
                if (data == 'success') {
                    $('#holidaycreate-modal').modal('hide');
                    Swal.fire({
                        title: 'Holiday!',
                        text: 'Create success!',
                        icon: 'success',
                        showCancelButton: false,
                        customClass: {
                            confirmButton: 'btn btn-primary w-xs me-2 mt-2',
                            cancelButton: 'btn btn-danger w-xs mt-2',
                        },
                        buttonsStyling: false,
                        showCloseButton: true
                    });
                    tableholiday.ajax.reload();
                    clear();
                }
            }
        });
    }
    function EditHolidayModal(holidayid) {
        $('#holidayedit-modal').modal('show');
        var id = tableholiday.row('#holidayid_' + holidayid).data().id;
        var day = tableholiday.row('#holidayid_' + holidayid).data().day;
        var name = tableholiday.row('#holidayid_' + holidayid).data().name;

        $('#holidayedit-id').val(id);
        $('#holidayedit-date').datepicker('setDate', day);
        $('#holidayedit-name').val(name);
    }
    function EditHolidayModalClick() {
        var fileData = new FormData();
        fileData.append('id', $('#holidayedit-id').val());
        fileData.append('date', $('#holidayedit-date').val());
        fileData.append('name', $('#holidayedit-name').val());

        $.ajax({
            url: '/Stations/UpdateHoliday',
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: fileData,
            success: function (data) {
                if (data == 'success') {
                    $('#holidayedit-modal').modal('hide');
                    Swal.fire({
                        title: 'Holiday!',
                        text: 'Update success!',
                        icon: 'success',
                        showCancelButton: false,
                        customClass: {
                            confirmButton: 'btn btn-primary w-xs me-2 mt-2',
                            cancelButton: 'btn btn-danger w-xs mt-2',
                        },
                        buttonsStyling: false,
                        showCloseButton: true
                    });
                    tableholiday.ajax.reload();
                    clear();
                }
            }
        });
    }
    function clear() {
        var d = new Date();
        var toDay = d.getDate() + '/' + (d.getMonth() + 1) + '/' + d.getFullYear();

        $('#holidayedit-id').val('');
        $('#holidayedit-date').datepicker('setDate', toDay);
        $('#holidayedit-description').val('');

        $('#holidaycreate-date').datepicker('setDate', toDay);
        $('#holidaycreate-description').val('');
    }
    function DeleteHolidayClick(Id) {
        //SwalFunc.ConfirmAjaxDeleteWithReload(Id, "/Stations/DeleteHoliday", "POST", tableholiday);
        Swal.fire({
            title: "Are you sure?",
            text: "Do you want to delete it?",
            icon: "warning",
            showCancelButton: true,
            customClass: {
                confirmButton: 'btn btn-primary w-xs me-2 mt-2',
                cancelButton: 'btn btn-danger w-xs mt-2',
            },
            confirmButtonText: "Yes, delete it!",
            buttonsStyling: false,
            showCloseButton: true
        }).then(function (result) {
            if (result.value) {
                $.ajax({
                    url: "/Stations/DeleteHoliday",
                    type: "POST",
                    data: { id: id },
                    success: function (data) {
                        if (data == 'success') {
                            Swal.fire({
                                title: 'Deleted!',
                                text: 'Your card has been deleted.',
                                icon: 'success',
                                customClass: {
                                    confirmButton: 'btn btn-primary w-xs mt-2',
                                },
                                buttonsStyling: false
                            })
                            tableholiday.ajax.reload();
                        }
                    }
                });
            }
        });
    }
</script>