@{
    ViewBag.Title = "Stations";
    ViewBag.pTitle = "Stations";
    ViewBag.pageTitle = "Stations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="shadow p-3 rounded">
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-2 align-self-end float-end">
                            <a href="javascript:CreateStationModal();" class="btn btn-primary"><i class="ri-add-circle-line la-1-50x align-middle"></i><span class="align-middle" data-key="add-station"> Add Station</span></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive mt-4">
                        <table id="table--station" class="table nowrap align-middle dataTable no-footer">
                            <thead>
                                <tr>
                                    <th width="10%" data-key="t-code">Code</th>
                                    <th width="30%" data-key="t-office">Office</th>
                                    <th width="30%" data-key="t-station">Station</th>
                                    <th width="10%" data-key="t-electricityrate">Electricity rate</th>
                                    <th width="10%" data-key="t-holiday">Holiday</th>
                                    <th width="5%" data-key="t-edit">Edit</th>
                                    <th width="5%" data-key="t-delete">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--begin::Modal-->
<div class="modal fade" id="stationcreate-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" data-key="t-addstation">Add Station</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="stationcreate-company" class="form-label" data-key="t-office">Office:</label>
                        <select id="stationcreate-company" class="form-control">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="stationcreate-chargertype" class="form-label" data-key="t-chargeforservice">Charge for service:</label>
                        <select id="stationcreate-chargertype" class="form-control">
                            <option value="1" data-key="t-servicechargeperkWh">Service charge per kWh</option>
                            <option value="2" data-key="t-servicechargeperhour">Service charge per hour</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="stationcreate-code" class="form-label" data-key="t-code">Code:</label>
                        <input type="text" class="form-control" id="stationcreate-code">
                    </div>
                    <div class="mb-3">
                        <label for="stationcreate-name" class="form-label" data-key="t-name">Name:</label>
                        <input type="text" class="form-control" id="stationcreate-name">
                    </div>
                    <div class="mb-3">
                        <label for="stationcreate-address" class="form-label" data-key="t-address">Address:</label>
                        <textarea type="text" class="form-control" id="stationcreate-address" cols="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="stationcreate-city" class="form-label" data-key="t-district">District:</label>
                        <input type="text" class="form-control" id="stationcreate-city">
                    </div>
                    <div class="mb-3">
                        <label for="stationcreate-country" class="form-label" data-key="t-province">Province:</label>
                        <input type="text" class="form-control" id="stationcreate-country">
                    </div>
                    <div class="mb-3">
                        <label for="stationcreate-postcode" class="form-label" data-key="t-postcode">Postcode:</label>
                        <input type="text" class="form-control" id="stationcreate-postcode">
                    </div>
                    <div class="mb-3">
                        <label for="stationcreate-tel" class="form-label" data-key="t-phone">Phone:</label>
                        <input type="text" class="form-control" id="stationcreate-tel">
                    </div>
                    <div class="mb-3">
                        <label for="stationcreate-rfid" class="form-label" data-key="t-card">Card:</label>
                        <input type="text" class="form-control" id="stationcreate-rfid">
                    </div>
                    <div class="mb-3">
                        <label for="stationcreate-lat" class="form-label" data-key="t-locationlatlong">Location (Lat / Long):</label>
                        <input type="text" class="form-control" id="stationcreate-lat" value="0">
                        <input type="text" class="form-control" id="stationcreate-long" value="0">
                    </div>
                    <div class="mb-3">
                        <label for="stationcreate-logo" class="form-label" data-key="t-logo">Logo:</label>
                        <input id="stationcreate-logo" type="file" name="logo" accept=".png, .jpg, .jpeg" onchange="stationcreatelogopreview(event)" />
                    </div>
                    <div class="mb-3">
                        <img id="stationcreate-logo_preview" class="w-50" />
                    </div>
                    <div class="mb-3">
                        <label for="stationcreate-image" class="form-label" data-key="t-image">Image:</label>
                        <input id="stationcreate-image" type="file" name="image" accept=".png, .jpg, .jpeg" onchange="stationcreateimagepreview(event)" />
                    </div>
                    <div class="mb-3">
                        <img id="stationcreate-image_preview" class="w-100" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="CreateStationModalClick()" data-key="t-save">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-key="t-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="stationedit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" data-key="t-updatestation">Update Station</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group d-none">
                        <input type="text" class="form-control" id="stationedit-id" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="stationedit-company" class="form-label" data-key="t-office">Office:</label>
                        <select id="stationedit-company" class="form-control">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="stationedit-chargertype" class="form-label" data-key="t-chargeforservice">Charge for service:</label>
                        <select id="stationedit-chargertype" class="form-control">
                            <option value="1" data-key="t-servicechargeperkWh">Service charge per kWh</option>
                            <option value="2" data-key="t-servicechargeperhour">Service charge per hour</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="stationedit-code" class="form-label" data-key="t-code">Code:</label>
                        <input type="text" class="form-control" id="stationedit-code" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="stationedit-name" class="form-label" data-key="t-name">Name:</label>
                        <input type="text" class="form-control" id="stationedit-name">
                    </div>
                    <div class="mb-3">
                        <label for="stationedit-address" class="form-label" data-key="t-address">Address:</label>
                        <textarea type="text" class="form-control" id="stationedit-address" cols="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="stationedit-city" class="form-label" data-key="t-district">District:</label>
                        <input type="text" class="form-control" id="stationedit-city">
                    </div>
                    <div class="mb-3">
                        <label for="stationedit-country" class="form-label" data-key="t-province">Province:</label>
                        <input type="text" class="form-control" id="stationedit-country">
                    </div>
                    <div class="mb-3">
                        <label for="stationedit-postcode" class="form-label" data-key="t-postcode">Postcode:</label>
                        <input type="text" class="form-control" id="stationedit-postcode">
                    </div>
                    <div class="mb-3">
                        <label for="stationedit-tel" class="form-label" data-key="t-phone">Phone:</label>
                        <input type="text" class="form-control" id="stationedit-tel">
                    </div>
                    <div class="mb-3">
                        <label for="stationedit-rfid" class="form-label" data-key="t-card">Card:</label>
                        <input type="text" class="form-control" id="stationedit-rfid">
                    </div>
                    <div class="mb-3">
                        <label for="stationedit-lat" class="form-label" data-key="t-locationlatlong">Location (Lat / Long):</label>
                        <input type="text" class="form-control" id="stationedit-lat" value="0">
                        <input type="text" class="form-control" id="stationedit-long" value="0">
                    </div>
                    <div class="mb-3">
                        <label for="stationedit-logo" class="form-label" data-key="t-logo">Logo:</label>
                        <input id="stationedit-logo" type="file" name="logo" accept=".png, .jpg, .jpeg" onchange="stationeditlogopreview(event)" />
                    </div>
                    <div class="mb-3">
                        <img id="stationedit-logo_preview" class="w-50" />
                    </div>
                    <div class="mb-3">
                        <label for="stationedit-image" class="form-label" data-key="t-image">Image:</label>
                        <input id="stationedit-image" type="file" name="image" accept=".png, .jpg, .jpeg" onchange="stationeditimagepreview(event)" />
                    </div>
                    <div class="mb-3">
                        <img id="stationedit-image_preview" class="w-100" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="EditStationModalClick()" data-key="t-save">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-key="t-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->
<!--begin::Modal-->
<div class="modal fade" id="electricityrate-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" data-key="t-electricitychargerateperkWh">Electricity charge rate per kWh</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group d-none">
                        <input type="text" class="form-control" id="stationrate-id" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="stationrate-id" class="form-label" data-key="t-stationcode">Station Code:</label>
                        <input type="text" class="form-control" id="stationrate-code" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="stationrate-name" class="form-label" data-key="t-stationname">Station Name:</label>
                        <input type="text" class="form-control" id="stationrate-name" disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" data-key="t-chargingrate">Charging rate (baht/unit)</label>
                    </div>
                    <div class="mb-3">
                        <label for="stationrate-onpeak" class="form-label">On-Peak (9:00-22:00)</label>
                        <input type="text" class="form-control" id="stationrate-onpeak">
                    </div>
                    <div class="mb-3">
                        <label for="stationrate-offpeak" class="form-label">Off-Peak (22:01-08:59)</label>
                        <input type="text" class="form-control" id="stationrate-offpeak">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ElectricityrateModalClick()" data-key="t-save">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-key="t-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->
<div class="modal fade" id="hourrate-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" data-key="t-electricitychargerateperhour">Electricity charge rate per hour</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group d-none">
                        <input type="text" class="form-control" id="hourrate-id" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="hourrate-id" class="form-label" data-key="t-stationcode">Station Code:</label>
                        <input type="text" class="form-control" id="hourrate-code" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="hourrate-name" class="form-label" data-key="t-stationname">Station Name:</label>
                        <input type="text" class="form-control" id="hourrate-name" disabled>
                    </div>
                    <div class="form-group table-responsive mt-4">
                        <table id="table--hourrate" class="table table-striped table-hover mb-0">
                            <thead>
                                <tr>
                                    <th width="40%" data-key="t-duration">Duration (hrs.)</th>
                                    <th width="60%" data-key="t-price">Price (Baht)</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="HourrateModalClick()" data-key="t-save">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-key="t-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}
<script>
    var tablestation
    $(document).ready(function () {
        $('#stationcreate-modal').appendTo("body");
        $('#stationedit-modal').appendTo("body");
        $('#electricityrate-modal').appendTo("body");
        clear();
        GetCompanySelect(0);
        tablestation = $('#table--station').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": false,
            "orderMulti": false,
            "ordering": true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pageLength": 25,
            "destroy": true,
            "searching": false,
            "contentType": "application/json; charset=utf-8",
            "ajax": {
                url: '/Stations/GetStationsTable',
                type: "POST"
            },
            columns: [
                { "data": 'code' },
                { "data": 'companyName' },
                { "data": 'name' },
                { "data": 'electricityRate' },
                { "data": 'actionHoliday' },
                { "data": 'actionEdit' },
                { "data": 'actionDelete' }
            ],
            rowId: function (a) {
                return 'stationid_' + a.id;
            },
        });
    });

    function CreateStationModal() {
        clear();
        $('#stationcreate-modal').modal('show');
    }

    function EditStationModal(stationid) {
        clear();
        $('#stationedit-modal').modal('show');
        var code = tablestation.row('#stationid_' + stationid).data().code;
        var name = tablestation.row('#stationid_' + stationid).data().name;
        var office = tablestation.row('#stationid_' + stationid).data().office;
        var address = tablestation.row('#stationid_' + stationid).data().address;
        var city = tablestation.row('#stationid_' + stationid).data().city;
        var country = tablestation.row('#stationid_' + stationid).data().country;
        var postcode = tablestation.row('#stationid_' + stationid).data().postCode;
        var rfid = tablestation.row('#stationid_' + stationid).data().rfid;
        var images = tablestation.row('#stationid_' + stationid).data().image;
        var logo = tablestation.row('#stationid_' + stationid).data().logo;
        var companyid = tablestation.row('#stationid_' + stationid).data().companyId;
        var charger = tablestation.row('#stationid_' + stationid).data().chargerType;
        var lat = tablestation.row('#stationid_' + stationid).data().lat;
        var long = tablestation.row('#stationid_' + stationid).data().long;

        $('#stationedit-id').val(stationid);
        $('#stationedit-code').val(code);
        $('#stationedit-name').val(name);
        $('#stationedit-address').val(address);
        $('#stationedit-city').val(city);
        $('#stationedit-country').val(country);
        $('#stationedit-postcode').val(postcode);
        $('#stationedit-tel').val(office);
        $('#stationedit-rfid').val(rfid);
        $("#stationedit-company").val(companyid);
        $("#stationedit-charger").val(charger);
        $("#stationedit-lat").val(lat);
        $("#stationedit-long").val(long);

        if (images)
            $('#stationedit-image_preview').attr('src', 'data:image/jpg;base64,' + images);

        if (logo)
            $('#stationedit-logo_preview').attr('src', 'data:image/jpg;base64,' + logo);
    }

    function CreateStationModalClick() {
        var fileData = new FormData();
        fileData.append('code', $('#stationcreate-code').val());
        fileData.append('name', $('#stationcreate-name').val());
        fileData.append('address', $('#stationcreate-address').val());
        fileData.append('city', $('#stationcreate-city').val());
        fileData.append('country', $('#stationcreate-country').val());
        fileData.append('postcode', $('#stationcreate-postcode').val());
        fileData.append('tel', $('#stationcreate-tel').val());
        fileData.append('rfid', $('#stationcreate-rfid').val());
        fileData.append('company', $('#stationcreate-company').val());
        fileData.append('chargertype', $('#stationcreate-chargertype').val());
        fileData.append('lat', $('#stationcreate-lat').val());
        fileData.append('long', $('#stationcreate-long').val());

        var fileUpload = $("#stationcreate-image").get(0);
        if (fileUpload.files.length > 0) {
            fileData.append("image", $("#stationcreate-image")[0].files[0]);
        }

        var fileUpload = $("#stationcreate-logo").get(0);
        if (fileUpload.files.length > 0) {
            fileData.append("logo", $("#stationcreate-logo")[0].files[0]);
        }

        $.ajax({
            url: '/Stations/CreateStation',
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: fileData,
            success: function (data) {
                if (data == 'success') {
                    $('#stationcreate-modal').modal('hide');
                    Swal.fire({
                        title: 'Station!',
                        text: 'Create success!',
                        icon: 'success',
                        showCancelButton: false,
                        customClass: {
                            confirmButton: 'btn btn-primary w-xs me-2 mt-2',
                            cancelButton: 'btn btn-danger w-xs mt-2',
                        },
                        buttonsStyling: false,
                        showCloseButton: true
                    });
                    tablestation.ajax.reload();
                    clear();
                }
            }
        });
    }

    function EditStationModalClick() {
        var fileData = new FormData();
        fileData.append('id', $('#stationedit-id').val());
        fileData.append('code', $('#stationedit-code').val());
        fileData.append('name', $('#stationedit-name').val());
        fileData.append('address', $('#stationedit-address').val());
        fileData.append('city', $('#stationedit-city').val());
        fileData.append('country', $('#stationedit-country').val());
        fileData.append('postcode', $('#stationedit-postcode').val());
        fileData.append('tel', $('#stationedit-tel').val());
        fileData.append('rfid', $('#stationedit-rfid').val());
        fileData.append('company', $('#stationedit-company').val());
        fileData.append('chargertype', $('#stationedit-chargertype').val());
        fileData.append('lat', $('#stationedit-lat').val());
        fileData.append('long', $('#stationedit-long').val());

        var fileUpload = $("#stationedit-image").get(0);
        if (fileUpload.files.length > 0) {
            fileData.append("image", $("#stationedit-image")[0].files[0]);
        }

        var fileUpload = $("#stationedit-logo").get(0);
        if (fileUpload.files.length > 0) {
            fileData.append("logo", $("#stationedit-logo")[0].files[0]);
        }

        $.ajax({
            url: '/Stations/UpadateStation',
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: fileData,
            success: function (data) {
                if (data == 'success') {
                    $('#stationedit-modal').modal('hide');
                    Swal.fire({
                        title: 'Station!',
                        text: 'Update success!',
                        icon: 'success',
                        showCancelButton: false,
                        customClass: {
                            confirmButton: 'btn btn-primary w-xs me-2 mt-2',
                            cancelButton: 'btn btn-danger w-xs mt-2',
                        },
                        buttonsStyling: false,
                        showCloseButton: true
                    });
                    tablestation.ajax.reload();
                    clear();
                }
            }
        });
    }

    function DeleteStationModalClick(stationid) {
        //SwalFunc.ConfirmAjaxDeleteWithReload(stationid, "/Stations/DeleteStation", "POST", tablestation);
        Swal.fire({
            title: "Are you sure?",
            text: "Do you want to delete it?",
            icon: "warning",
            showCancelButton: true,
            customClass: {
                confirmButton: 'btn btn-primary w-xs me-2 mt-2',
                cancelButton: 'btn btn-danger w-xs mt-2',
            },
            confirmButtonText: "Yes, delete it!",
            buttonsStyling: false,
            showCloseButton: true
        }).then(function (result) {
            if (result.value) {
                $.ajax({
                    url: "/Stations/DeleteStation",
                    type: "POST",
                    data: { id: id },
                    success: function (data) {
                        if (data == 'success') {
                            Swal.fire({
                                title: 'Deleted!',
                                text: 'Your card has been deleted.',
                                icon: 'success',
                                customClass: {
                                    confirmButton: 'btn btn-primary w-xs mt-2',
                                },
                                buttonsStyling: false
                            })
                            tablestation.ajax.reload();
                        }
                    }
                });
            }
        });
    }

    function clear() {
        $('#stationcreate-id').val('');
        $('#stationcreate-code').val('');
        $('#stationcreate-name').val('');
        $('#stationcreate-address').val('');
        $('#stationcreate-city').val('');
        $('#stationcreate-country').val('');
        $('#stationcreate-postcode').val('');
        $('#stationcreate-tel').val('');
        $('#stationcreate-rfid').val('');
        $('#stationcreate-company').val('');
        $('#stationcreate-chargertype').val()
        $('#stationcreate-lat').val(0)
        $('#stationcreate-long').val(0)

        $('#stationedit-id').val('');
        $('#stationedit-code').val('');
        $('#stationedit-name').val('');
        $('#stationedit-address').val('');
        $('#stationedit-city').val('');
        $('#stationedit-country').val('');
        $('#stationedit-postcode').val('');
        $('#stationedit-tel').val('');
        $('#stationedit-rfid').val('');
        $('#stationedit-company').val('');
        $('#stationedit-chargertype').val()
        $('#stationedit-lat').val(0)
        $('#stationedit-long').val(0)

        $('#stationrate-id').val('');
        $('#stationrate-name').val('');
        $('#stationrate-onpeak').val('');
        $('#stationrate-offpeak').val('');

        $('#stationcreate-image_preview').attr('src', '');
        $('#stationcreate-image').val('');
        $('#stationedit-image_preview').attr('src', '');
        $('#stationedit-image').val('');

        $('#stationcreate-logo_preview').attr('src', '');
        $('#stationcreate-logo').val('');
        $('#stationedit-logo_preview').attr('src', '');
        $('#stationedit-logo').val('');
    }

    function HourrateModal(stationid) {
        $('#hourrate-modal').modal('show');
        var code = tablestation.row('#stationid_' + stationid).data().code;
        var name = tablestation.row('#stationid_' + stationid).data().name;
        $('#hourrate-id').val(stationid);
        $('#hourrate-code').val(code);
        $('#hourrate-name').val(name);

        tablehourrate = $('#table--hourrate').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": false,
            "orderMulti": false,
            "ordering": false,
            "destroy": true,
            "searching": false,
            "bPaginate": false,
            "contentType": "application/json; charset=utf-8",
            "ajax": {
                url: '/Stations/GetHourRateTable',
                type: "POST",
                data: function (d) {
                    return $.extend({}, d, {
                        "station": stationid,
                    });
                },

            },
            columns: [
                { "data": 'text' },
                { "data": 'actionValue' }
            ],
            drawCallback: function () {
                $('#table--hourrate').css('width', '100%');
                $("#table--hourrate td").css("padding", "1px 10px");
            },
            rowId: function (a) {
                return 'hourrateid_' + a.id;
            },
        });
    }

    function HourrateModalClick() {

        var fileData = new FormData();
        fileData.append('id', $('#hourrate-id').val());

        // ถ้าต้องการเพิ่มข้อมูลอื่นๆ เช่น ค่า inputs จากตาราง
        $("#table--hourrate tbody td input").each(function (index) {
            let inputId = $(this).attr("id") || `input_${index}`; // ถ้าไม่มี id ให้สร้าง id ชั่วคราว
            let dataText = $(this).data("text") || ""; // อ่านค่า data-text
            let value = $(this).val(); // อ่านค่าจาก input

            // เพิ่มข้อมูลลงใน FormData
            fileData.append(`inputs[${index}][id]`, inputId);
            fileData.append(`inputs[${index}][text]`, dataText);
            fileData.append(`inputs[${index}][value]`, value);
        });

        $.ajax({
            url: '/Stations/UpadateHourRate',
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: fileData,
            success: function (data) {
                if (data == 'success') {
                    $('#electricityrate-modal').modal('hide');
                    Swal.fire({
                        title: 'Holiday Rate!',
                        text: 'Update success!',
                        icon: 'success',
                        showCancelButton: false,
                        customClass: {
                            confirmButton: 'btn btn-primary w-xs me-2 mt-2',
                            cancelButton: 'btn btn-danger w-xs mt-2',
                        },
                        buttonsStyling: false,
                        showCloseButton: true
                    });
                    tablestation.ajax.reload();
                    clear();
                }
            }
        });
    }

    function ElectricityrateModal(stationid) {
        $('#electricityrate-modal').modal('show');
        var code = tablestation.row('#stationid_' + stationid).data().code;
        var name = tablestation.row('#stationid_' + stationid).data().name;
        var onpeak = tablestation.row('#stationid_' + stationid).data().onPeak;
        var offpeak = tablestation.row('#stationid_' + stationid).data().offPeak;

        $('#stationrate-id').val(stationid);
        $('#stationrate-code').val(code);
        $('#stationrate-name').val(name);
        $('#stationrate-onpeak').val(onpeak);
        $('#stationrate-offpeak').val(offpeak);
    }

    function ElectricityrateModalClick() {

        var fileData = new FormData();
        fileData.append('id', $('#stationrate-id').val());
        fileData.append('onpeak', $('#stationrate-onpeak').val());
        fileData.append('offpeak', $('#stationrate-offpeak').val());

        $.ajax({
            url: '/Stations/UpadateElectricityRate',
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: fileData,
            success: function (data) {
                if (data == 'success') {
                    $('#electricityrate-modal').modal('hide');
                    Swal.fire({
                        title: 'Electricity Rate!',
                        text: 'Update success!',
                        icon: 'success',
                        showCancelButton: false,
                        customClass: {
                            confirmButton: 'btn btn-primary w-xs me-2 mt-2',
                            cancelButton: 'btn btn-danger w-xs mt-2',
                        },
                        buttonsStyling: false,
                        showCloseButton: true
                    });
                    tablestation.ajax.reload();
                    clear();
                }
            }
        });
    }

    function GetCompanySelect(id) {
        $.ajax({
            url: '/Users/GetCompanySelect',
            type: "POST",
            success: function (data) {
                var obj = data.data;
                var options = '';
                $("#stationcreate-company").find('option').remove();
                $("#stationedit-company").find('option').remove();
                //options += '<option selected value="0">สำนักงานหลัก</option>';
                if (obj.length > 0) {
                    for (var i = 0; i < obj.length; i++) {
                        if (id == obj[i].fId) {
                            options += '<option selected value="' + obj[i].fId + '">' + obj[i].fName + '</option>';
                        }
                        else {
                            options += '<option value="' + obj[i].fId + '">' + obj[i].fName + '</option>';
                        }
                    }
                }
                $("#stationcreate-company").append(options);
                $("#stationedit-company").append(options);
            }
        });
    }

    //image preview
    var stationcreateimagepreview = function (event) {
        var output = document.getElementById('stationcreate-image_preview');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

    var stationeditimagepreview = function (event) {
        var output = document.getElementById('stationedit-image_preview');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

    var stationcreatelogopreview = function (event) {
        var output = document.getElementById('stationcreate-logo_preview');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

    var stationeditlogopreview = function (event) {
        var output = document.getElementById('stationedit-logo_preview');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>