<table id="table--chargetag" class="table table-striped table-hover mb-0">
    <thead>
        <tr>
            <th>รหัส</th>
            <th>ทะเบียน</th>
            <th>ผู้ใช้บัตร</th>
            <th>หน่วยงาน</th>
            <th>ใช้ได้ถึง</th>
            <th>สถานะ</th>
            <th>แก้ไข</th>
            <th>ลบ</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>