<table id="table--chargelog" class="table table-striped table-hover mb-0">
    <thead>
        <tr>
            <th>State</th>
            <th>Type</th>
            <th>#</th>
            <th>MessageType</th>
            <th>LogTime</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>